// Place all the styles related to the api/notebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notebooks-overlay-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 74px;
  border-right: 3px solid rgba(236, 236, 236, 0.7);
  // move width to modal once created
  width: 460px;
  height: 100%;
}

.notebooks-overlay-header {
  display: flex;
  justify-content: space-between;
  padding: 21px 24px 40px 24px;
  border-bottom: 1px solid #ECECEC;
  font-size: 21px;
  font-weight: 300;
}

.notebooks-overlay-title {
  color: #878787;
}

.notebooks-overlay-nbs-list .notebook-items div {
}

.notebooks-overlay-nbs-list .notebook-items div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ECECEC;
  margin: 0px 10px;
  padding: 10px;
}

.notebooks-overlay-nbs-list .notebook-items div div:hover {
  border-bottom: 1px solid transparent;
}

.notebooks-overlay-nbs-list .notebook-items div a {
  text-decoration: none;
  color: #000000;
}

.notebooks-overlay-nbs-list .notebook-items div:hover {
  background: #2DBE60;
  color: #FFFFFF;
}

.notebook-items {
  overflow: scroll;
}

.notebook-create-form-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 74px;
}

.notebook-create-form-hr {
  width: 124px;
  margin: 18px auto 54px;
  border-bottom: 1px solid #D9D9D9;
}

// .notebook-show-container {
//   border-right: 1px solid #ECECEC;
//   width: 350px;
// }

.notes-by-nb-index-header {
  height: 150px;
  background: #393D41;
  display: flex;
  flex-direction: column;
}

.notes-by-nb-index-header-info {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.notes-by-nb-index-header-info a {
  color: #FFFFFF;
  text-decoration: none;
}

.notes-by-nb-index-header-info a:hover {
  color: #ECECEC;
}

.notes-by-nb-index-header-title {
  margin: 0 auto;
  padding: 25px 0px;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 18px;
}

// .notebook-show-list {
//   display: flex;
//   flex-direction: column;
// }

// .notebook-show-list-count {
//   border-bottom: #ECECEC;
// }
//
// .notebook-show-list-items ul li div {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   border-bottom: 1px solid #ECECEC;
//   margin: 0px 10px;
//   padding: 10px;
// }
//
// .notebook-show-list-items ul li div:hover {
//   border-bottom: 1px solid transparent;
// }
//
// .notebook-show-list-items ul li a {
//   text-decoration: none;
//   color: #000000;
// }
//
// .notebook-show-list-items ul li:hover {
//   background: #2DBE60;
//   color: #FFFFFF;
// }
