// Place all the styles related to the api/Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.note-show-header input[type='submit'] {
	color: #ffffff;
	background-color: #2dbe60;
	border: 1px solid #2dbe60;
	border-radius: 5px;
	font-size: 14px;
	padding: 2px 14px;
	height: 40px;
}

.note-show-header input[type='submit']:hover {
	background-color: #28a955;
}
