/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  font-family: Calibri, sans-serif;
}

.container {
  border: 2px solid orange;
  width: 80%;
  margin: 0 auto;
}

.top-nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-nav-bar-logo {
  padding: 5px 0px;
  width: 200px;
}

.top-nav-bar-demo {
  font-weight: bold;
  font-size: 30px;
  padding: 5px 0px;
}

h1 {
  padding: 10px 0px;
  font-size: 30px;
  font-weight: bold;
}

h2 {
  padding: 8px 0px;
  font-size: 24px;
  font-weight: bold;
}

h3 {
  padding: 6px 0px;
  font-size: px;
  font-weight: bold;
}


.session-form-container {
  border: 2px solid red;
  /* display: flex; */
  padding: 5px;

}

.session-form-box {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  padding: 10px;
}

.session-form {
  border: 2px solid blue;
}

.session-input {
  width: 50%;
}

input[type=submit] {

}
