.session-page-container {
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.left-nav-outer-container {
  width: 73px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  border-right: 1px solid #ECECEC;
  background: #F8F8F8;
}

.left-nav-inner-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.left-nav-logo img {
  margin: 0 auto;
  padding: 20px;
  width: 35px;
}

.left-nav-buttons ul {
  display: flex;
  flex-direction: column;
}

.left-nav-buttons ul li {
  font-size: 10px;
  padding: 10px;
  margin: 0 auto;


}

.left-nav-logout {
  border-top: 1px solid #E1E1E1;
  padding: 10px;
  margin: 0 auto;
}

.left-nav-logout button {
  padding: 5px;
}

.note-sidebar-container {
  width: 350px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 74px;
  border-right: 1px solid #ECECEC;
}

.notes-index-header {
  height: 60px;
  width: 100%;
}

.notes-index-title {
  color: #878787;
  font-size: 21px;
  font-weight: 300;
  padding: 24px;
}

.note-sidebar-list {
  display: flex;
  flex-direction: column;
}

.note-sidebar-list-count {
  color: #ABABAB;
  font-size: 13px;
  font-weight: 300;
  padding: 16px 24px 8px 24px;
  border-bottom: 1px solid #ECECEC;
}

.note-sidebar-list-items ul li div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ECECEC;
  margin: 0px 10px;
  padding: 10px;
}

.note-sidebar-list-items ul li div:hover {
  border-bottom: 1px solid transparent;
}

.note-sidebar-list-items ul li a {
  text-decoration: none;
  color: #000000;
}

.note-sidebar-list-items ul li:hover {
  background: #2DBE60;
  color: #FFFFFF;
}



.notes-by-notebook-index-container {
  width: 350px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 76px;
}
